In [1]:
#-*-coding:utf8 -*-
import sys
reload(sys)
sys.setdefaultencoding('utf8')
import pandas as pd

In [2]:
des_path = '/media/sherlock/new30/law/jun28InfoExtractor/tb_doc_add3.csv'
add3_law_df = pd.read_csv(des_path)
add3_law_df.info()

In [36]:
add3_law_df.year_age

0      45.0
1      34.0
2      40.0
3       NaN
4       NaN
5       NaN
6      28.0
7      26.0
8      42.0
9      34.0
10      NaN
11     29.0
12     28.0
13     24.0
14      NaN
15     32.0
16      NaN
17      NaN
18      NaN
19     50.0
20     35.0
21      NaN
22     56.0
23     27.0
24      NaN
25     28.0
26     53.0
27      NaN
28     33.0
29      NaN
       ...
970    45.0
971     NaN
972    35.0
973    43.0
974    56.0
975    26.0
976    30.0
977     NaN
978     NaN
979     NaN
980     NaN
981    35.0
982    35.0
983     NaN
984    58.0
985    22.0
986    38.0
987    25.0
988    47.0
989     NaN
990    59.0
991     NaN
992    41.0
993     NaN
994    43.0
995    43.0
996    38.0
997    40.0
998     NaN
999    30.0
Name: year_age, dtype: float64

In [35]:
add3_law_df.birth

0                1972年3月16日
1                1983年8月12日
2                 1977年9月5日
3                        NaN
4                        NaN
5                        NaN
6                 1989年8月9日
7                1991年5月12日
8               1975年11月18日
9               1983年12月13日
10                       NaN
11              1988年10月24日
12               1989年8月28日
13                1993年3月5日
14                       NaN
15               1985年3月20日
16                       NaN
17                       NaN
18                       NaN
19               1967年2月13日
20              1982年10月12日
21                       NaN
22               1961年9月12日
23               1990年8月17日
24                       NaN
25               1989年1月13日
26               1964年7月28日
27                       NaN
28                1984年5月2日
29                       NaN
               ...
970                 1972年4月
971                      NaN
972              1982年3月28日
973             1974年10月23日
974               1961年9月5日
975              1991年3月26日
976               1987年1月4日
977                      NaN
978                      NaN
979                      NaN
980                      NaN
981              1982年5月30日
982    1982年8月7日 1983年8月10日
983                      NaN
984              1959年7月13日
985             1995年12月18日
986               1979年9月4日
987             1992年11月24日
988             1970年10月18日
989                      NaN
990             1958年10月10日
991                      NaN
992               1976年8月1日
993                      NaN
994               1974年2月9日
995              1974年5月28日
996              1979年9月13日
997              1977年12月3日
998                      NaN
999              1987年6月22日
Name: birth, dtype: object

In [3]:
from pyltp import Segmentor
import re
from collections import Counter

segmentor = Segmentor()  # 初始化实例
segmentor.load('/home/sherlock/Documents/ltp_data/cws.model')
#实例化词性工具
# postagger = Postagger() # 初始化实例
# postagger.load('/home/sherlock/Documents/ltp_data/pos.model')  # 加载模型
# recognizer = NamedEntityRecognizer()
# recognizer.load('/home/sherlock/Documents/ltp_data/ner.model')

def wdseg(inputstr,ret_type):


    words = segmentor.segment(inputstr)  # 分词
    if ret_type == 'str':
        seg_word = ' '.join(words)
    if ret_type == 'lst':
        seg_word = ' '.join(words)
        seg_word = seg_word.split()

    #segmentor.release()  # 释放模型
    return seg_word

In [7]:
bir_age = add3_law_df.loc[2,'birth']

In [8]:
time_words = wdseg(bir_age,'lst')

In [9]:
time_words

['1977\xe5\xb9\xb4', '9\xe6\x9c\x88', '5\xe6\x97\xa5']

In [26]:
for i in time_words:
    if '年' in i:
        print i[:4]
        bir_year = i[:4]

In [11]:
import pandas as pd

In [31]:
bir_year = pd.to_datetime(bir_year)
bir_year

Timestamp('1977-01-01 00:00:00')

In [32]:
now = pd.datetime.now().year

In [33]:
now

2017

In [28]:
type(now.year)

int

In [29]:
eval(bir_year)

1977

In [30]:
now.year-eval(bir_year)

40

In [23]:
delta = now.year-bir_year

TypeError: descriptor '__sub__' requires a 'datetime.datetime' object but received a 'int'

In [22]:
delta.days

14800

In [4]:
print add3_law_df.loc[41,'party_info']

In [13]:
def get_birth(info_seg_list):
    #eliminate the birth of the plantiff




    #if '被告' in i:

        # dft_idx = int(info_seg_list.index(i))
    dft_idx = [indx for indx,x in enumerate(info_seg_list) if '被告' in x]
    print 'dft index is ',dft_idx
        #print '***' + i +str(info_seg_list.index(i))
    #if '年' in i:
        # yr_idx = int(info_seg_list.index(i))
    yr_idx = [indx for indx,x in enumerate(info_seg_list) if '年' in x]
    #if '生' in i:
        # born_str = int(info_seg_list.index(i))
    born_idx = [indx for indx,x in enumerate(info_seg_list) if '生' in x]
    #jul.5 出现2015年因犯 这种字段被识别成生日。年月日后面要么是逗号要么是生，xx年，XX年YY月

    try:
        new_yy_idx = []
        for yy in yr_idx:
            for dd in dft_idx:
                if  0< yy - dd <10:
                    print yy
                    new_yy_idx.append(yy)
            #for bb in born_idx:
                #if 0< bb -yy<5:
                    #print yy
                    #new_yy_idx.append(yy)
        new_yr_idx = list(set(new_yy_idx))
        new_yr_idx.sort()#new_yr_idx = new_yr_idx.sort() is wrong
        new_bir_idx = []
        for yi in new_yr_idx:
            if '，' in info_seg_list[yi+1] or '。' in info_seg_list[yi+1]:
                new_bir_idx.append((yi,yi+1))
            elif '月' in info_seg_list[yi+1]:
                if '，' in info_seg_list[yi+2] or '。' in info_seg_list[yi+2]:
                    new_bir_idx.append((yi,yi+2))
                elif '日' in info_seg_list[yi+2]:
                    if '，' in info_seg_list[yi+3] or '。' in info_seg_list[yi+3]:
                        new_bir_idx.append((yi,yi+3))
                    elif '生' in info_seg_list[yi+3]:
                        new_bir_idx.append((yi,yi+3))

        birth = ''
        for l in new_bir_idx:

            # if yr_idx[l] - dft_idx[l] <10 or born_idx[l] - yr_idx[l] <5:
                #  birth = ''
            for bt_i in range (l[0],l[1]):
                bt = info_seg_list[bt_i]
                birth = birth+bt
            birth = birth +' '

        return birth

            # if yr_idx - dft_idx <10 or born_str - yr_idx <5:
            #     birth = ''
            #     for bt_i in  range(yr_idx,yr_idx+3):
            #         bt = info_seg_list[bt_i]
            #         birth = birth + bt
            #
            #     #print birth
            #     return birth
    except:
        pass

In [6]:
info_words_bir = wdseg(add3_law_df.loc[41,'party_info'].encode('utf8'),'lst')

In [14]:
birth = get_birth(info_words_bir)

In [16]:
print add3_law_df.loc[41,'party_info']
print birth

In [35]:
def art_select():
    print 'call function'
    conn = pymysql.connect(db="laws_doc", user="hzj", password="123456", host="192.168.10.24",port = 3306,charset='utf8mb4')
    print 'conn done!'
    cur = conn.cursor()
    #batch_amount = 1
    #total_amount = 1876058#2824916
    #for start in range(1876056,total_amount,batch_amount):
        #if start % 1000 == 0:
            #print start
        # sql = "SELECT uuid,id,party_info FROM judgment WHERE id >= %d LIMIT %d "  %(start,batch_amount)
    sql = "SELECT doc_content FROM judgment WHERE id = %d "  % 1878888
        #print sql
    cur.execute(sql)
    print cur.description
    for row in cur:
        print row[0]
    
    cur.close()
    conn.close()

In [36]:
art_select()